{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% if isAccountPartCreated %}
  {% set pageTitleName = 'pages.getSecurityCodes.titleAccountPartCreated' | translate %}
  {% set heading = 'pages.getSecurityCodes.headerAccountPartCreated' | translate %}
  {% set summary = 'pages.getSecurityCodes.summaryAccountPartCreated' | translate %}
{% elif isAccountRecoveryJourney %}
  {% set pageTitleName = 'pages.getSecurityCodes.accountRecoveryVariants.title' | translate %}
  {% set heading = 'pages.getSecurityCodes.accountRecoveryVariants.header' | translate %}
  {% set summary = 'pages.getSecurityCodes.accountRecoveryVariants.summary' | translate %}
{% else %}
  {% set pageTitleName = 'pages.getSecurityCodes.title' | translate %}
  {% set heading = 'pages.getSecurityCodes.header' | translate %}
  {% set summary = 'pages.getSecurityCodes.summary' | translate %}
{% endif %}

{% block content %}
  {% include "common/errors/errorSummary.njk" %}

  <h1 class="govuk-heading-l">{{ heading }}</h1>
  <p class="govuk-body">{{ summary }}</p>

  {% set authAppDetailsTextHtml %}
    <p class="govuk-body">{{ 'pages.getSecurityCodes.authAppDetails.paragraph1' | translate }}</p>
    <p class="govuk-body">{{ 'pages.getSecurityCodes.authAppDetails.paragraph2' | translate }}</p>
    <p class="govuk-body">{{ 'pages.getSecurityCodes.authAppDetails.paragraph3' | translate }}</p>
  {% endset %}

  {{ govukDetails({
    summaryText: 'pages.getSecurityCodes.authAppDetails.summaryText' | translate,
    html: authAppDetailsTextHtml
  }) }}

  <form action="/get-security-codes" method="post" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <input type="hidden" name="mfaOptions" value="AUTH_APP">
    {{ govukButton({
      text: 'pages.getSecurityCodes.continueButtonText' | translate,
      type: "submit",
      preventDoubleClick: true
    }) }}
  </form>

  {% set ga4Params = { nonce: scriptNonce, englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: true } %}
  {%- include "ga4-opl/template.njk" -%}
{% endblock %}
